<!--@param style - установленный стиль-->
<!--@function style1() - изменение дизайна на стиль 1-->
<!--@function style2() - изменение дизайна на стиль 2-->
<!--@function style3() - изменение дизайна на стиль 3-->
<!--@function style4() - изменение дизайна на стиль 4-->
<!--@function style5() - изменение дизайна на стиль 5-->
{% if style == 'style1' %}
    <script> style1(); </script>
{% endif %}
{% if style == 'style2' %}
    <script> style2(); </script>
{% endif %}
{% if style == 'style3' %}
    <script> style3(); </script>
{% endif %}
{% if style == 'style4' %}
    <script> style4(); </script>
{% endif %}
{% if style == 'style5' %}
    <script> style5(); </script>
{% endif %}